main{
   background-image: url(../img/sshatterkep.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: grey;
}
nav {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-link {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    background-color: #e2e6ea;
   border-bottom: 2px solid black;
  }

.nav-link:active {
    border-bottom: 2px solid black; 

  }

.svg{
    width: 5%;
    margin-top: 5px;
}
h1{
  text-align: center;
  font-family: "BBH Sans Bogle", sans-serif;
  letter-spacing: 5px;
  font-style: normal;
}
h2{
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
}


/* Jegy vásárlás kódja */ 
.fancy {
  background-color: grey;
  border: 2px solid #fff;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: rgb(255, 255, 255);
  background: rgba(17, 17, 17, 0.295);
}

.fancy:hover::before {
  width: 0.9375rem;
  background: black;
}

.fancy:hover .text {
  color: black;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
    .event-card {
      background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
      border-radius: 15px;
      padding: 25px;
      transition: .3s ease;
      border: none;
    }

    .event-card:hover {
      transform: translateY(-8px);
      box-shadow: 0 15px 40px rgba(255, 215, 0, 0.3);
      border-top: 3px solid #ffd700;
    }

    .event-date {
      font-size: 1.5rem;
      color: #ffd700;
      font-weight: bold;
    }

    .event-title {
      font-size: 1.8rem;
      font-weight: bold;
      color: #ffd700;
    }

    .countdown-box {
      background: linear-gradient(135deg, #ffd700 0%, #ffed4e 100%);
      color: #1a1a2e;
      padding: 20px;
      border-radius: 15px;
      margin: 30px auto;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
      max-width: 800px;
      box-shadow: 0 5px 15px rgba(255, 215, 0, 0.4);
    }
    .fellepok{
      color: white;
      font-family: "Science Gothic", sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 110%;
    
    }
    .esemenyhatter{
      background-color: #212121;
    }
.elpaso{
  background-image: url(../img/polevayacard.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.szilveszter{
background-image: url(../img/szilvesztercard.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.xmas{
background-image: url(../img/xmascard.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.mamacita{
background-image: url(../img/vzscard.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.jegyvasarlas{
  margin-top: 50px;
}
.ticket-card {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      transition: 0.3s ease;
    }

    .ticket-card:hover {
      transform: scale(1.02);
      box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    }

    .ticket-img {
      height: 130px;
      width: 100%;
      background-size: cover;
      position: relative;
      background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;
    }

    .ticket-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* Mobil nézetben eltűnik az SVG (hamburger menü mellett) */
@media (max-width: 992px) {
  .navbar .svg {
    display: none;
  }
}

/* video */
.video-card {
  border: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  background: #fff;
}
.video-card .card-body {
  padding: 0.75rem 1rem;
  background: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(250,250,250,0.9));
  font-family: 'Rubik', sans-serif;
  font-size: 0.95rem;
}
@media (max-width: 575.98px) {
  .video-card .card-body {
    font-size: 0.9rem;
  }
}
.kep{
  width: 50%;
  height: 50%;
}































.new_home_web .text-blk.subHeading {
  text-align: center;
  color: #939393;
  max-width: 630px;
}

.new_home_web .text-blk.heading {
  font-size: 36px;
  line-height: 55px;
  font-weight: 600;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.new_home_web .responsive-container-block.textContainer {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  max-width: 1320px;
  z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.new_home_web .send:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
}

.new_home_web .send {
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #ea5541;
  width: 80%;
  text-align: center;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.new_home_web .container-block.form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 1100px;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 310px;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  width: 100%;
}

.new_home_web .textinput {
  height: 100%;
  width: 100%;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a2a2a2;
  border-right-color: #a2a2a2;
  border-bottom-color: #a2a2a2;
  border-left-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
}

.new_home_web .input {
  height: 50px;
  width: 100%;
  border-top-width: 2.5px;
  border-right-width: 2.5px;
  border-bottom-width: 2.5px;
  border-left-width: 2.5px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a2a2a2;
  border-right-color: #a2a2a2;
  border-bottom-color: #a2a2a2;
  border-left-color: #a2a2a2;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: #f1f1f1;
}

.new_home_web .responsive-container-block.big-container {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.new_home_web .responsive-container-block.container {
  max-width: 1320px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  z-index: 50;
}

.new_home_web .responsive-cell-block {
  min-height: 75px;
}

.new_home_web textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.new_home_web input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.new_home_web a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.new_home_web .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.new_home_web * {
  font-family: Nunito, sans-serif;
}

.new_home_web .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .left4 {
  width: 50%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.new_home_web .orangeText {
  color: #ea5541;
}

.new_home_web .orangeLine {
  height: 10px;
  width: 160px;
  background-color: #eb604d;
}

.new_home_web .topHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin: 0 0 25px 0;
}

.new_home_web .imgBG {
  position: absolute;
  width: 80%;
  height: 100%;
  left: auto;
  right: 0px;
  top: auto;
  bottom: 0px;
}

@media (max-width: 1024px) {
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 0px;
  }

  .new_home_web .responsive-container-block.container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0 0 10px 0;
  }

  .new_home_web .container-block.form-wrapper {
    align-items: center;
  }

  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
  }

  .new_home_web .responsive-container-block.container {
    flex-direction: column;
  }

  .new_home_web .textinput {
    width: 100%;
  }

  .new_home_web .input {
    width: 100%;
  }

  .new_home_web .left4 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  .new_home_web .responsive-container-block {
    flex-direction: column;
    align-items: center;
  }

  .new_home_web .textinput {
    height: 200px;
  }

  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    width: 100%;
  }

  .new_home_web .imgBG {
    width: 100%;
    height: 90%;
    top: auto;
    left: auto;
  }

  .new_home_web .text-blk.heading {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    flex-wrap: wrap;
  }

  .new_home_web .send {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    text-align: center;
    width: 70%;
  }

  .new_home_web .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .new_home_web .text-blk.heading {
    font-size: 30px;
    text-align: center;
    line-height: 35px;
  }

  .new_home_web .send {
    width: 100%;
    max-width: 250px;
  }

  .new_home_web .imgBG {
    height: 60%;
  }

  .new_home_web .text-blk.subHeading {
    font-size: 16px;
    line-height: 24px;
  }

  .new_home_web .responsive-container-block.textContainer {
    margin: 50px 0 30px 0;
  }

  .new_home_web .input {
    height: 45px;
  }

  .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 10px 0;
  }
}





