main{
   background-image: url(../img/hatterkep.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
nav {
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-link {
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #e2e6ea;
    color: #007bff;
}

.nav-link.active {
    border-bottom: #333 2px solid;
    color: #fff;
}

.svg{
    width: 5%;
}
h1{
  text-align: center;
  font-family: "BBH Sans Bogle", sans-serif;
  letter-spacing: 5px;
  font-style: normal;
}
h2{
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
}


/* Jegy v치s치rl치s k칩dja */ 
.fancy {
  background-color: grey;
  border: 2px solid #fff;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: white;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #212121;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: rgb(255, 255, 255);
  background: rgba(17, 17, 17, 0.295);
}

.fancy:hover::before {
  width: 0.9375rem;
  background: black;
}

.fancy:hover .text {
  color: black;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
